<div class="container">
  <h2 class="center">Painel de Ativos</h2>
  <br><br>
  <div class="row">
    <div class="col s8">
      <h5 class="center"> Operar </h5>
      <form method="GET" id="my_form"></form>
      <table class="striped centered">
        <thead>
          <tr>
              <th>Ativo</th>
              <th>Lote mínimo</th>
              <th>Preço</th>
              <th>Quantidade</th>
              <th>Operação</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ativo in ativos">
            <td>{{ ativo.descricao }}</td>
            <td>{{ ativo.lote_minimo }}</td>
            <td>
              <input placeholder="Preço" id="preco" type="text" class="validate" size="5" ng-model="ativo.preco">
            </td>
            <td>
              <input placeholder="Quantidade" id="quantidade" type="text" class="validate" size="5" ng-model="ativo.quantidade">
            </td>
            <td>
              <input placeholder="Classe" id="classe_negociacao" type="text" class="validate" size="1" ng-model="ativo.classe_negociacao">
            </td>
            <td>
              <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="trade(ativo)">Executar
                <i class="material-icons right">local_grocery_store</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s4">
      <h5 class="center"> Posição </h5>
      <table class="striped centered responsive-table">
        <thead>
          <tr>
              <th>Ativo</th>
              <th>Posição</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pos in ativosPos">
            <td>{{ pos.desc }}</td>
            <td>{{ pos.posicao }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>