<div class="container">
  
  <h2 class="center"> Busca de Ordens </h2>

  <!-- Search bar -->
  <div class="row">
    <form>
      <div class="col s12">
        <div class="row">
          <div class="input-field col s8">
            <label for="datepicker">Selecione a data da Ordem</label>
            <input id="datepicker" type="text" class="datepicker" ng-model="date">
          </div>
          <div class="input-field col s4">
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="searchByDate()">Buscar
              <i class="material-icons right">search</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Ordem table -->
  <div class="row">
    <table class="bordered striped centered responsive-table">
      <thead>
        <tr>
            <th>Ativo</th>
            <th>Quantidade</th>
            <th>Negociação</th>
            <th>Preço</th>
            <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ordem in searchResultData">
          <td>{{ ordem.Ativo.descricao }}</td>
          <td>{{ ordem.quantidade }}</td>
          <td>{{ ordem.classe_negociacao }}</td>
          <td>{{ ordem.preco }}</td>
          <td>{{ ordem.data }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 5, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false, // Close upon selecting a date,
      format: 'yyyy-mm-dd'
    });
  });
</script>